# langsmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="<your-api-key>"
LANGCHAIN_PROJECT="<your-project>"


# openai
OPENAI_ORGANIZATION="<your-openai-org>"
OPENAI_API_KEY="<your-api-key>"
OPENAI_API_BASE="<your-api-base>"
OPENAI_MODEL_NAME="<your-model-name>"

# mistral
MISTRAL_API_KEY="<your-api-key>"
MISTRAL_MODEL="<your-model>"

# google ai
GOOGLE_API_KEY="<your-google-api-key>"

TEMPERATURE="0.7"

# kepp llm history, max token
HISTORY_MAX_SIZE=2048

# discord
DISCORD_BOT_TOKEN="<your-bot-token>"
# telegram
TELEGRAM_BOT_TOKEN="<your-bot-token>"
TELEGRAM_ALLOWED_USERS=["your-username"]

OPENWEATHERMAP_API_KEY="<your-weather-api>"

# for search
GOOGLE_CSE_ID="<your-google-ces-id>"

# wiki
ENABLE_WIKIPEDIA=false

# twitter_translate
ENABLE_TWITTER_TRANSLATOR=false

# groq key
GROQ_API_KEY=""

# claude
ANTHROPIC_API_KEY=""

# tongyi qwen
DASHSCOPE_API_KEY=""

# max_retries
MAX_RETRIES="0"

# aws bedrock
AWS_BEDROCK_SERVICE_NAME="BEDROCK-RUNTIME"
AWS_BEDROCK_REGION_NAME="US-WEST-2"
AWS_BEDROCK_MODEL_ID="ANTHROPIC.CLAUDE-V2"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""