# langsmith
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="<your-api-key>"
LANGCHAIN_PROJECT="<your-project>"

# azure
AZURE_OPENAI_API_KEY="<your-api-key>"
AZURE_OPENAI_ENDPOINT="<your-endpoint>"
AZURE_OPENAI_DEPLOYMENT="<your-deployment>"
## optional
AZURE_OPENAI_API_VERSION="<your-api-version>"

# google ai
GOOGLE_API_KEY="<your-google-api-key>"

TEMPERATURE="0.7"

# dalle
AZURE_DALLE_API_KEY="<your-api-key>"
AZURE_DALLE_ENDPOINT="<your-endpoint>"
AZURE_DALLE_DEPLOYMENT="<your-deployment>"
AZURE_DALLE_API_VERSION="<your-api-version>"

# kepp llm history, max token
HISTORY_MAX_SIZE=2048

# discord
DISCORD_BOT_TOKEN="<your-bot-token>"

OPENWEATHERMAP_API_KEY="<your-weather-api>"

# for search
GOOGLE_CSE_ID="<your-google-ces-id>"

# wiki
ENABLE_WIKIPEDIA=false