discord.py==2.3.2
python-dotenv==1.0.0
langchain==0.0.353
langsmith==0.0.75
openai==1.6.1
tiktoken==0.5.2
langchain-google-genai==0.0.5
transformers==4.36.2
pydantic_settings==2.1.0
pillow==10.1.0
wikipedia==1.4.0
pyowm==3.3.0
google-api-python-client==2.111.0
python-telegram-bot[ext]==20.7
langchain_mistralai==0.0.1
setuptools
